*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build
www/phonegap.js
_old
*.xcuserstate
*.phar*
platforms/ios/www/*
*.xcuserdatad

# android stuff
*.apk
platforms/android/bin/*
platforms/android/assets/www/assets/
platforms/android/assets/www/analytics.js
platforms/android/assets/www/angular-animate.min.js
platforms/android/assets/www/angular-route.min.js
platforms/android/assets/www/angular.min.js
platforms/android/assets/www/balanced.js
platforms/android/assets/www/bundle.js
platforms/android/assets/www/cdv-plugin-fb-connect.js
platforms/android/assets/www/cordova.js
platforms/android/assets/www/ecommerce.js
platforms/android/assets/www/facebook-js-sdk.js
platforms/android/assets/www/index.html
platforms/android/assets/www/index.js
platforms/android/assets/www/jquery-2.0.3.min.js
platforms/android/assets/www/jquery.scrollspy.js
platforms/android/assets/www/lazycache.js
platforms/android/assets/www/stripe.js