/**
 * phonegap specific css
 *
 */


@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/OpenSans-Extrabold.woff) format('woff');
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	overflow: hidden;
}

body {
	-webkit-touch-callout: none;				/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;				/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;					/* prevent copy paste, to allow, change 'none' to 'text' */
	overflow: hidden;							/* no scrolling */
}

@media (max-width: 768px) {
/*
	.ios7 .nav-top {

		background: url(../images/nav-ios7.png);
		background-size: 62px;

		padding-top: 15px;
		padding-bottom: 3px;

	}

	.ios7 .main-content {
		margin-top: 68px;
	}
	.ios7.page-restaurant .main-content {
		margin-top: 103px;
	}
*/
	.bg {
		-webkit-transform: translate3d(0,0,0);
		/*-webkit-transition: background-position linear 0.1s; */
	}
	.home-top {
		background: #90562f url(../images/micro/bg-sandwich-phone.jpg);
		background-position: -321px -83px;
	}
}

.location-detect {
	display: block !important;
}

.dialog-message-error {
	padding-bottom: .7em;
}
