<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.stripe"
    version="0.1.0">

    <name>StripePlugin</name>
    <description>Cordova Stripe Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,stripe</keywords>

    <repo></repo>
    <issue></issue>

    <js-module src="www/stripe.js" name="stripe">
        <merges target="navigator.stripe" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StripePlugin">
                <param name="android-package" value="org.apache.cordova.stripe.StripePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/StripePlugin.java" target-dir="src/org/apache/cordova/stripe" />

    </platform>

</plugin>
