<div class="pad">
	<br /><br />
	<div class="logo-center"></div>
	<div class="divider"></div>
	<br /><br /><br />
	<h2 class="title">We've chosen the best food from the best restaurants. We save your order, delivery and payment info, so reordering is as easy as the <i>click of a button</i>.</h2>
	<br /><br />
	<h2 class="text-where"><b>&gt;</b>&nbsp;&nbsp;Where are you?</h2>
	<form method="get" id="form-where">
		<input type="text" name="input-where">
		<input type="submit" style="visibility: hidden">
	</form>
	<div class="location-results"></div>
	<button class="eat">Let's Eat!</button>
</div>
