<div class="pad">
	<h2><%= restaurant.attributes.name %></h2>
</div>


<% _.each(restaurant.attributes._categories, function(category) { %>
	<div class="pad">
		<h2><%= category.name %></h2>
	</div>
	<% _.each(category._dishes, function(dish) { %>
		<div class="dish">
			<a class="dish-item" href="#">
				<div class="dish-details">
					<div class="dish-name"><%= dish.name %></div>
				<div class="dish-description"><%= dish.description %></div>
				</div>
				<div class="divider"></div>
			</a>
		</div>
	<% }); %>
<% }); %>
