<div class="pad">
	<h2 class="title">Was it good for you? Reorder your previous orders.</h2>
</div>
<div class="combo">
	<a class="pad combo-item" href="#">
		<div class="combo-description">Boneless Honey BBQ Wings,<br>Boneless Spicy Teriyaki Wings</div>
		<div class="combo-price"><span>$16</span></div>
		<div class="divider"></div>
	</a>
</div>
<div class="pad">
	<h2 class="title">We've chosen the best food from the best restaurants. Choose a restaurant below.</h2>
</div>
<div class="combo">
	<a class="pad combo-item" href="#">
		<div class="combo-description">Gyro, Hummus,<br> and a drink</div>
		<div class="combo-price"><span>$14</span></div>
		<div class="divider"></div>
	</a>
</div>
<div class="combo">
	<a class="pad combo-item" href="#">
		<div class="combo-description">Large Hawaiian Pizza, <br>and 2 drinks</div>
		<div class="combo-price"><span>$17</span></div>
		<div class="divider"></div>
	</a>
</div>
<div class="combo">
	<a class="pad combo-item" href="#">
		<div class="combo-description">Boneless Honey BBQ Wings, <br>(1 lb) and a drink</div>
		<div class="combo-price"><span>$17</span></div>
		<div class="divider"></div>
	</a>
</div>