
<div id="viewport">
	<div id="menu">
		<header>
			<input id="search" type="text" placeholder="Search">
		</header>
		<div class="scrollable">
			<ul>
				<li class="search-result">
					<div class="result-name">Golden Crust Pizza</div>
					<div class="result-tags">pizza, subs, wraps, wings</div>
				</li>
				<li class="search-result">
					<div class="result-name">Pizza Pie-er</div>
					<div class="result-tags">pizza, appetizers</div>
				</li>
				<li class="search-result">
					<div class="result-name">Golden Crust Pizza</div>
					<div class="result-tags">pizza, subs, wraps, wings</div>
				</li>
				<li class="search-result">
					<div class="result-name">Pizza Pie-er</div>
					<div class="result-tags">pizza, appetizers</div>
				</li>
				<li class="search-result">
					<div class="result-name">Golden Crust Pizza</div>
					<div class="result-tags">pizza, subs, wraps, wings</div>
				</li>
				<li class="search-result">
					<div class="result-name">Pizza Pie-er</div>
					<div class="result-tags">pizza, appetizers</div>
				</li>
			</ul>
			<div class="separator">Filters</div>
			<ul>
				<li>
					Within 2 miles of me
				</li>
				<li>
					Delivery
				</li>
			</ul>
			<div class="separator">Menu</div>
			<ul>
				<li>Help Feedback and Support</li>
				<li>Legal Terms of Service, Privacy Policy</li>
				<li>Log Out</li>
				<li id="copy">
					<p>English (US) - Desktop Site</p>
					Crunchbutton &copy; 2012
				</li>
			</ul>
		</div>
	</div>

	<div id="page">
		<div id="close-mask"></div>
		<header>
			<div class="nav-back" onclick=";"></div>
			<div class="trigger"></div>
		</header>
		<div class="body" id="body">
			<div class="divider"></div>
		</div>
	</div>

</div>
